%index_container {
  height: 100vh;
  // border: 1px solid RED;
  margin-bottom: 100px;
}

%container_position {
  margin: auto;
  width: 1200px;
  padding: 0px 30px;
  // border: 1px solid blue;
}

.index_textarea {
  width: 500px;

  //   border: 1px solid red;
  h1 {
    font-size: 40px;
    margin: 0;
    color: $secondary_3;
    text-align: center;
  }

  h4 {
    font-size: 20px;
    margin: 0;
    text-indent: 0.8rem;
    letter-spacing: 0.8rem;
    color: $secondary_3;
    text-align: center;
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
    line-height: 2rem;
    color: $secondary_1;
    margin-bottom: 50px;
  }

  .arrow {
    display: flex;
    justify-content: flex-end;

    a {
      display: inline-flex;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.2rem;
      color: $primary;
      transition: all 0.5s ease;

      span {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60px;
        margin-right: 20px;
        transition: inherit;

        &::after {
          content: '';
          position: absolute;
          right: 1px;
          width: 12px;
          height: 12px;
          border-top: 2px solid $primary;
          border-right: 2px solid $primary;
          transform: rotate(45deg);
        }

        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: $primary;
          border-radius: 30px;
        }
      }

      &:hover {
        color: $primary_light;

        span {
          width: 40px;
          margin-right: 10px;

          &::after {
            border-top: 2px solid $primary_light;
            border-right: 2px solid $primary_light;
          }

          &::before {
            background: $primary_light;
          }
        }
      }
    }
  }
}

#all_container{
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
}

// about us -------------------------------------------------------------
#aboutUs_container {
  @extend %index_container;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
  .aboutus_rightbg{
    position: absolute;
    right: 0;
    width: 50%;
    // border: 1px solid red;
    &>img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .aboutUs_position {
    @extend %container_position;
  }
}

// product --------------------------------------------------------------
#product_container {
  @extend %index_container;
  display: flex;
  align-items: center;
  position: relative;
  scroll-snap-align: start;
  .product_position {
    @extend %container_position;
    position: relative;
    display: flex;
    justify-content: flex-end;

    .products_bigshow_container {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(0, -50%);
      width: 500px;
      height: 800px;
      // border: 1px solid lightgreen;

      .products_bigshow {
        position: relative;
        width: 100%;
        height: 100%;
        // background: rgba(240, 128, 128, 0.377);

        .products_showleft {
          // border: 1px solid lightseagreen;
          position: absolute;
          bottom: 0px;
          left: -100px;
          z-index: 5;
          width: 600px;
          height: 600px;
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));

          &>img {
            z-index: 10;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: contain;
          }
        }

        .products_showbg {
          position: absolute;
          right: 0px;
          bottom: 50px;
          width: 450px;
          height: 400px;
          background: rgb(255, 255, 255);
          border-radius: 15px;
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
        }

        .products_showtext {
          z-index: 50;
          // border: 1px solid green;
          position: absolute;
          width: 370px;
          height: 180px;
          right: 40px;
          bottom: 90px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .products_showtext_box {
            &>h1 {
              margin: 0;
              color: $secondary_3;
              text-shadow: 0 0 15px #ffffff;
            }

            &>p {
              margin: 0;
              font-weight: 500;
              font-size: 16px;
              line-height: 1.8rem;
              color: $secondary_1;
              text-shadow: 0 0 15px #ffffff;
            }
          }

          &>a {
            display: block;
            text-align: right;
            color: $primary;
            font-size: 18px;
            text-decoration: none;

            &>i {
              margin-left: 10px;
            }

            &:hover {
              color: $primary_light
            }
          }
        }
      }

    }

    .products_small_container1 {
      position: absolute;
      bottom: -240px;
      right: 0;
      width: 200px;
      height: 240px;
      // border: 1px solid rgb(35, 102, 35);

      .products_smallshow {
        position: relative;
        width: 100%;
        height: 100%;
        // background: rgba(240, 128, 128, 0.377);

        .products_smallleft {
          // border: 1px solid lightseagreen;
          position: absolute;
          bottom: 20px;
          left: -40px;
          z-index: 5;
          width: 200px;
          height: 200px;
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));

          &>img {
            z-index: 10;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: contain;
          }
        }

        .products_smallbg {
          position: absolute;
          right: 0px;
          bottom: 50px;
          width: 200px;
          height: 120px;
          background: rgb(255, 255, 255);
          border-radius:10px;
          filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.2));
        }

        .products_smalltext {
          z-index: 50;
          // border: 1px solid green;
          position: absolute;
          width: 160px;
          height: 40px;
          right: 20px;
          bottom: 70px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .products_smalltext_box {
            &>h1 {
              margin: 0;
              color: $secondary_3;
              text-shadow: 0 0 15px #ffffff;
              font-size: 22px;
              text-align: right;
            }

            &>p {
              margin: 0;
              font-weight: 500;
              font-size: 16px;
              line-height: 1.8rem;
              color: $secondary_1;
              text-shadow: 0 0 15px #ffffff;
              display: none;
            }
          }

          &>a {
            display: block;
            text-align: right;
            color: $primary;
            font-size: 18px;
            text-decoration: none;
            display: none;

            &>i {
              margin-left: 10px;
            }

            &:hover {
              color: $primary_light
            }
          }
        }
      }
    }
    .products_small_container2{
      @extend .products_small_container1;
      right: 230px;
    }
    .products_small_container3{
      @extend .products_small_container1;
      right: 460px;
    }
  }
}

// news -------------------------------------------------------------------
#news_container {
  @extend %index_container;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  .news_position {
    @extend %container_position;

    .index_textarea {
      width: 100%;

      #news_cardBox {
        display: flex;
        justify-content: center;
        margin: 50px 0px;
        position: relative;

        .arrow {
          position: absolute;
          bottom: -70px;
          right: 80px;

          a {
            justify-content: center;
          }
        }
      }
    }
  }
}

// shop ------------------------------------------------------------------
#shop_container {
  @extend %index_container;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  .shop_position {
    @extend %container_position;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .index_textarea {
      margin-right: 60px;

      .shop_line {
        display: block;
        width: 500px;
        height: 2px;
        background: $secondary_3;
      }

      .address_display {
        display: flex;

        ul {
          padding: 0;
          list-style: none;
          margin-bottom: 50px;

          &:nth-child(2) {
            margin-left: 50px;
          }

          li {
            font-size: 16px;
            line-height: 2rem;
            color: $secondary_1;
          }
        }
      }
    }
  }
}

// 圓形動畫--------------------------------------------------------------
.circle_animation {
  width: 80%;
  height: 500px;
  background: url(../images/index/shop.jpg) no-repeat center / cover;
  border-radius: 55% 45% 63% 37% / 47% 44% 56% 53%;
  animation: circle 20s infinite;
  transition: border-radius 5s linear;
}

@keyframes circle {
  0% {
    border-radius: 55% 45% 63% 37% / 47% 44% 56% 53%;
  }

  25% {
    border-radius: 43% 57% 57% 43% / 46% 54% 46% 54%;
  }

  50% {
    border-radius: 50% 50% 47% 53% / 57% 47% 53% 43%;
  }

  75% {
    border-radius: 51% 49% 49% 51% / 38% 44% 56% 62%;
  }
}

// 影片背景
.video_mask {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  pointer-events: none;
  // border: 3px solid blue;
  z-index: 1500;
  mix-blend-mode: Multiply;

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .2;
    transform: scaleX(-1);
    object-fit: cover;
  }
}


.background_main {
  position: fixed;
  top: 0;
  // border: 1px solid red;
  width: 100%;
  height: 100vh;
  background: red;
  background: url(../images/index/bg.png)no-repeat;
  background-size: cover;
  z-index: -200;
}