#news_cardBox {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 30px;
  position: relative;
  .news_card {
    // border: 1px solid red;
    width: 300px;
    height: 420px;
    background: white;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
    border-radius: 15px;
    margin: 0px 20px;
    overflow: hidden;
    position: relative;
    .news_img {
      height: 40%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .news_textarea {
      padding: 20px;
      span:first-child {
        color: $secondary_1;
        font-size: 14px;
        font-weight: 500;
        margin-right: 5px;
      }
      span:nth-child(2) {
        color: $secondary_1;
        font-size: 14px;
        font-weight: 500;
        margin-right: 5px;
      }
      h1 {
        color: $secondary_3;
        font-size: 16px;
        text-align: left;
        margin: 8px 0px;
      }
      p {
        color: $secondary_1;
        font-size: 14px;
        line-height: 1.5rem;
        margin: 0px;
      }
      a {
        position: absolute;
        bottom: 25px;
        right: 25px;
        text-decoration: none;
        font-weight: 500;
        color: $primary;
        i {
          margin-left: 5px;
        }
        &:hover {
          color: $primary_light;
        }
      }
    }
  }
}
