// 叉叉
.signIn_out {
  cursor: pointer;
  width: 50px;
  height: 50px;
  //   background: lightblue;
  position: absolute;
  right: 30px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  .signIn_out_box {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .signIn_outline {
      width: 100%;
      height: 3px;
      border-radius: 20px;
      background: white;
      transition: all 0.3s ease;
    }
    .line01 {
      transform: rotateZ(135deg) translate(8px, -8px);
    }
    .line02 {
      transform: rotateZ(45deg) translate(-7px, -8px);
    }
  }
}

// 左右區塊分割+深色滑動區塊
#left_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#right_container {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dark_bg {
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: $primary_light;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    margin: 0;
    color: white;
    font-size: 45px;
    letter-spacing: 0.8rem;
    margin-bottom: 30px;
  }
  p {
    margin: 0;
    color: white;
    font-size: 18px;
    &:first-child {
      margin-bottom: 3px;
    }
  }
  button {
    cursor: pointer;
    width: 300px;
    font-size: 18px;
    padding: 10px 80px;
    border-radius: 50px;
    background: transparent;
    color: white;
    margin-top: 50px;
    border: 3px solid white;
  }
}

// 登入輸入區
.signIn_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  form{
    display: flex;
    flex-direction: column;
    h1 {
      margin: 0;
      color: $secondary_3;
      font-size: 45px;
    }
    h3 {
      margin: 0;
      letter-spacing: 0.8rem;
      font-size: 20px;
      color: $secondary_1;
      margin-bottom: 50px;
    }
    .label_margin{
      margin-bottom: 20px;
    label {
      position: relative;
      input {margin-bottom: 10px;
        display: inline-block;
        width: 500px;
        border-radius: 5px;
        padding: 15px;
        background: $secondary_1_light;
        border: none;
        text-indent: 25px;
        &::placeholder {
          color: $secondary_1;
          font-size: 14px;
        }
        &:focus {
          outline: 2px solid $primary;
        }
      }
    }
    .error_p{
      color:$warning;
      font-size: 12px;
      margin: 0;
      text-align: left;
      margin-bottom: 2px;
    }
    }
    
    .input_signIn {
      &::after {
        content: '\f007';
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        font-weight: 900;
        top: 50%;
        left: 15px;
        font-size: 16px;
        color: $secondary_1;
        transform: translateY(-50%);
      }
    }
    .input_mail {
      &::after {
        content: '\f0e0';
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        font-weight: 900;
        top: 50%;
        left: 15px;
        font-size: 16px;
        color: $secondary_1;
        transform: translateY(-50%);
      }
    }
    .input_password {
      &::after {
        content: '\f023';
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        font-weight: 900;
        top: 50%;
        left: 15px;
        font-size: 16px;
        color: $secondary_1;
        transform: translateY(-50%);
      }
    }
    a {
      text-decoration: none;
      color: $accent;
      font-size: 16px;
      display: contents;
    }
    button {
      cursor: pointer;
      width: 500px;
      font-size: 18px;
      padding: 10px 80px;
      border-radius: 50px;
      background: #fc9f4d;
      color: white;
      margin-top: 50px;
      border: none;
    }
  }
  
}

// 登出輸入區
.signUp_container {
  @extend .signIn_container;
  h1 {
    margin: 0;
    color: $secondary_3;
    font-size: 45px;
  }
  h3 {
    margin: 0;
    letter-spacing: 0.8rem;
    font-size: 20px;
    color: $secondary_1;
    margin-bottom: 50px;
  }
  label {
    position: relative;
    
      input {
      display: inline-block;
      width: 500px;
      border-radius: 5px;
      padding: 15px;
      background: $secondary_1_light;
      border: none;
      text-indent: 25px;
      &::placeholder {
        color: $secondary_1;
        font-size: 14px;
      }
      &:focus {
        outline: 2px solid $primary;
      }
    
    }
    
  }
  .input_signIn {
    &::after {
      content: '\f007';
      font-family: 'Font Awesome 5 Free';
      position: absolute;
      font-weight: 900;
      top: 50%;
      left: 15px;
      font-size: 16px;
      color: $secondary_1;
      transform: translateY(-50%);
    }
  }
  .input_password {
    &::after {
      content: '\f023';
      font-family: 'Font Awesome 5 Free';
      position: absolute;
      font-weight: 900;
      top: 50%;
      left: 15px;
      font-size: 16px;
      color: $secondary_1;
      transform: translateY(-50%);
    }
  }
  button {
    cursor: pointer;
    width: 500px;
    font-size: 18px;
    padding: 10px 80px;
    border-radius: 50px;
    background: #fc9f4d;
    color: white;
    margin-top: 50px;
    border: none;
  }
}
