#sort {
  ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    display: flex;
    // border: 1px solid blue;
    .sort_item {
      cursor: pointer;
      text-align: center;
      color: $secondary_3;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .sort_linebox {
    position: relative;
    .sort_lineFocus {
      position: absolute;
      top: 0px;
      left: 0px;
      transform: translate(0, -50%);
      width: 50px;
      height: 4px;
      background: $primary;
    }
    .sort_line {
      width: 100%;
      height: 1px;
      background: $secondary_3;
    }
  }
}
